*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header01{
    background-image: url(/assets/bgHeader.png);
    height: 100vh;
    background-position-x: 110px ;
    background-position-y: -130px ;

    text-align: center;

}
/*div*/
.div1{
    padding: 6%;
}
.div2{
    display: flex;
    
}
.div3{
    padding:   13% 9%;
}
.div4{
    padding: 5% 9%;

}
.div5{
    display: flex;
    padding: 5%;
}
/*h1*/
.h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    color: rgba(254,137,65,255);
}
.h2{
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    color: rgba(254,137,65,255);

}
.h3{
    padding: 0 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 44px;
    color: rgba(254,137,65,255);
    width: 650px;
}
.h4{
    padding: 0 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 43px;
    color: rgba(254,137,65,255);
    width: 790px;
    
}
/*p*/
.p1{
    font-size: 30px;
    margin-bottom: 100px;
    
}
.p2{
    padding: 2%;
    font-size: 25px;
    width:604px;
}
.p3{
    padding: 0 15% 0 9%;
    font-size: 23px;
    width: 700px;
    margin-top: 50px;
    margin-left: 10px;
    
    
}
.p4{
    margin-top: 20px;
    font-size: 20px;
    padding: 0 3%;
    height: 100px;
    width: 570px;
}
/*demas*/
.b1{
    background-color: rgba(254,137,65,255);
    color: aliceblue;
    height: 50px;
    right: 100px;
    border: none;
    width: 150px;
    border-radius: 50px;
    margin-left: 10px;

}
.b2{
    
        background-color: rgba(254,137,65,255);
        color: aliceblue;
        height: 50px;
        right: 100px;
        border: none;
        width: 150px;
        border-radius: 50px;
        margin-left: 10px;
        margin-top: 30px;
}

.b3{
    
    background-color: rgba(254,137,65,255);
    color: aliceblue;
    height: 50px;
    right: 70px;
    border: none;
    width: 150px;
    border-radius: 50px;
    margin-left: 72px;
    margin-top: 80px ;


}
.b4{
    background-color: rgba(254,137,65,255);
    color: aliceblue;
    height: 50px;
    right: 70px;
    border: none;
    width: 150px;
    border-radius: 50px;
    

    


}
.b5{
    background-color: rgba(254,137,65,255);
    color: aliceblue;
    height: 50px;
    right: 70px;
    border: none;
    width: 150px;
    border-radius: 50px;
    margin: 50px 42px ;
}
.img{
    padding: 0 4%;
}
.header02{
    background-image: url(/assets/bgDown.png);
    height: 70vh;
    right: 600vh;
    background-position-x: -100px ;
    background-position-y: -200;
    
    
    
    
}
.div6{
    padding: 9% 3% ;


}
.div7{
    display: flex;
    justify-content: center;

}
footer{
    background-color: rgba(254,137,65,255);
    color: antiquewhite;
    padding: 2%;
    text-align: center;

}
.div8{
    padding: 5%;

}
li{
    font-size: 20px;
    list-style: none;
}
h5{
    font-size: 20px;
}
.line{
    border-top: 10px solid #0000;
    background-color: #f97316;
    border: none;
    box-shadow: 0-5px 10px rgba(0,0,0, 0.3);
}